$color-1: #fdec90;
$color-2: #fed464;
$color-3: #f7af4b;
$color-4: #eb8636;
$color-5: #ce5d31;
$color-6: #b33d27;
$color-7: #8ccef1;
$color-8: #508dce;
$color-8: #2a4f85;

$color-black-1: #000;
$color-white-1: #fff;

$color-backround: #f9f9f9;
